
    body {
      margin: 0;
      padding: 0;
      font-family: Arial;
  }
  
  .header {
      background-color: #3498DB;
      color: white;
      position: fixed;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
  }
  
  .header .container {
      display: flex;
      justify-content: space-between;
  }
  
  .title{
      font-size: 23px;
  }
  
  .navbar {
      display: flex;
      list-style-type: none;
      width: 300px;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .container {
      width: 80%;
      margin: 0 auto;
  }
  
  .navbar a {
      text-decoration: none;
      color: white;
  }
  
  /*.banner {
      /*background-image: url('../Site-institucional/assets/img/bg-jelly-fish-para_outras_pags.png');*/
  
  .banner-login{
      background-color: #3498DB;
      background-position: bottom;
      background-size: cover;
      box-shadow: 0px 4px 80px 0 rgb(0, 0, 0, 0.2);
  }
  
  .banner-login .container {
      height: 550px;
      display: flex;
      color: white;
      justify-content: space-around;
      align-items: center;
  }
  
  .img_banner{
      height: 400px;
  }
  
  .banner-login p {
      font-size: 35px;
      width: 350px;
      margin-right: 10%;
  }
  
  
  .banner .container {
      height: 550px;
      display: flex;
      color: white;
      align-items: center;
  }
  
  .banner p {
      font-size: 30px;
      width: 300px;
      margin: left 0%;
  }
  
  .footer {
      background-color: #3498DB;
      color: white;
  }
  
  .footer .container {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center;
  }

  .footer.login {
    display: flex;
    height: 200px;
    align-items: center;
}

  
  .agora {
      font-weight: bolder;
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 2px;
      cursor: pointer;
  }
  
  .agora:hover{
      border-bottom:2px solid black;
      transition: 0.5s;
  }
  
  .card .h2 {
      margin: 0;
  }
  
  .banner .container.login {
      justify-content: center;
  }
  
  
  form{
      display: flex;
      flex-direction: column;
      width: 70%;
  }
  
  
  form label {
      margin-top: 10px;
  }
  
  form input {
      margin-top: 8px;
      outline:0;
      border: 0;
      border-bottom: 1px solid #3498DB;
      padding: 8px;
      border-radius:0px;
      background-color: #e5e5e58c;
  }
  
  input:focus, textarea:focus {
      border-color: #3498DB !important;
  }
  
  input:invalid, textarea:invalid {
      border-color: red;
  }
  
  input:valid, textarea:valid {
      border-color: green;
  }
  
  .card-login form input{
      margin-top: 10px;
      margin-bottom: 10px;
      outline:0;
      border: 0;
      border-bottom: 1px solid #3498DB;
      padding: 8px;
      border-radius:0px;
  }
  
  form input:hover{
      border-bottom: 1px solid black;
      transition: 0.5s;
  }
  
  form button {
      margin-bottom: 10px;
      margin-top: 25px;
      background-color: #3498DB;
      color: white;
      height: 35px;
      width: 100%;
      align-self: center;
      font-size: 18px;
      border: 0;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
  }
  
  form button:hover{
      background-color: black;
      color:white;
      transition: 1s;
  }
  
  h2 {
      color: #3498DB;
  }
  
  .card-cadastro form{
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      align-items: center;
  }
  
  .card-cadastro{
      display: flex;
      flex-direction: column;
      border: 1px solid #bdbabae5;
      border-radius: 5px;
      color: #3498DB;
      height: 420px;
      margin-top: 5%;
      width: 70%;
      align-items: center;
      box-shadow: 0 4px 80px 0 rgb(0, 0, 0, 0.2);
  }
  
  
  
  .card-login{
      box-shadow: 0 4px 80px 0 rgb(0, 0, 0, 0.2);
      border: 1px solid #bdbabae5;
      border-radius: 5px;
      color: #3498DB;
      width: 400px;
      height: 400px;
      margin-top: 40px;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .icon{
      width: 18px;
      height: 18px;
      margin-bottom: -3px;
  }
  
  .imagem_site{
      height: 100px;
  }
  
  
  
  .missao_visao_valores{
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .container_mvv {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 400px;
  }
  
  .container_mvv p{
      padding: 7px;
      font-size: 20px;
  }
  
  .contentmvv{
      box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
      border: 1px solid #bdbabae5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 30%;
      height: 80%;
      border-radius: 5px;
  }
  
  
  .container_desc{
      margin-top: 5%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .conteudo_desc{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      /*box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);*/
  }
  
  .img_desc{
      width: 600px;
      height: 500px;
      background-size: cover;
      background-position: center;
  }
  
  .text_desc{
      display: flex;
      align-items: flex-start;
      font-size: 45px;
      margin-left: 5%;
      height: 80%;
  }

  .quem_somos{
    font-size: 50px;
  }
  
  .text_desc b{
      color: #3498DB;
  }
  
  
  .div_resposta_usuario {
      color: #3498DB;
  }
  
  .cards_input{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_input input{
      width: 50%;
      margin: 10px;
  }
  
  .card_email{
      display: flex;
      align-self: center;
      justify-content: center;
      width: 100%;
  }
  
  .card_email input{
      width: 100%;
      margin: 10px; 
  }
  
  .cards_senha{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_senha input{
      width: 50%;
      margin: 10px;
  }
  
  .cards_endereco{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_endereco input{
      width: 50%;
      margin: 10px;
  }
  
  .cards_cpnj{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_cpnj input{
      width: 50%;
      margin: 10px;
  }

  .equipe{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .equipe .container h1{
    color: #3498DB;
    text-align: center;
  }

  .membros{
    width: 300px;
    height: 370px;
    box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
    border: 1px solid #bdbabae5;
    float: left;
    margin: 15px;
    border-radius: 3px;
    text-align: center;
  }

  .membros h4{
    color: #3498DB;
  }

  .membros h2{
    color: black;
  }

  .img_membros{
    width: 100%;
    height: 270px;
  }
 





  

  
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #3498DB;
  background-color: #3498DB;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #000000;
}



.titulo {
  color: #3498DB;
  width: fit-content;
  font-weight: 500;
} */


/* BANNER 

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores 

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER 

.footer {
  background-color: #3498DB;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}


/* LOGIN 

.banner .container .card {
  background-color: #ffffff;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 4px;
}

.card {
    margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO 

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #5ba2ff 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #3498DB;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.card-login h2 {
    color: black;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #3498DB;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS 

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #3498DB;
  background-color: #212124;
  /* border: 3px solid pink; 
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #3498DB;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #3498DB;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: #3498DB;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #3498DB;
  border: 3px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #3498DB;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador 
.simulador {
  color: #3498DB;

}

.simulador .container {
  flex-direction: column
}